<section class="hero-section">
  <div class="hero-content">
    <span class="greeting">Hi, my name is</span>
    <h1 class="name">Shobana R</h1>
    <h2 class="title">Aspiring Software Developer</h2>
    <p class="description">
      I'm a creative entry-level developer with a passion for coding, building interactive user interfaces, and solving real-world problems.
    </p>
    
    <div class="hero-actions">
      <a routerLink="/projects" class="btn btn-primary">Check out my work!</a>
      <app-resume-button></app-resume-button>
    </div>

  </div>

</section>
